body {
  background-color: black;
}
.App {
  text-align: center;
  color: red;
  width: 600px;
  margin-left: 25px;
}

.newGame {
  text-align: left;
}

.center {
  margin-left: 30%;
  margin-right: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  border-radius: 0%;
  height: 40px;
  width: 100px;
  margin: 2px;
}

.startGame {
  background-color: lightseagreen;
  color: black;
}